<p [ngStyle]="{'color':'red','background-color':'blue'}">my-component works!</p>
<p [ngClass]="['one']">My server id is {{serverId}}</p>
<p>My server name is {{serverName}}</p>
<p>My server created:{{serverCreated}}</p>
<p [ngStyle]="{'color':colorVal}">Server status:{{serverStatus}}</p>

<button type="button" class="btn btn-primary" [disabled]="isDisable" (click)="onClick()">Click here</button>
<br />
<select (change)="selectBranch($event)">
    <option value="">select branch</option>
    <option value="ECE">ECE</option>
    <option value="EEE">EEE</option>
    <option value="CSE">CSE</option>
    <option value="MECH">MECH</option>

</select>
<br />
<div *ngIf="!isShow;else elseMsg" [ngSwitch]="showBranch">
    <p *ngSwitchCase="'CSE'" [ngStyle]="{'color':'red'}">Selected branch:{{showBranch}}</p>
    <p *ngSwitchCase="'ECE'" [ngStyle]="{'color':'blue'}">Selected branch:{{showBranch}}</p>
    <p *ngSwitchCase="'EEE'" [ngStyle]="{'color':'brown'}">Selected branch:{{showBranch}}</p>
    <p *ngSwitchCase="'MECH'" [ngStyle]="{'color':'yellow'}">Selected branch:{{showBranch}}</p>

</div>
<!-- <p [hidden]="isShow">Selected branch:{{showBranch}}</p> -->
<ng-template #elseMsg>Please select the branch</ng-template>

<br />
<input type="text" placeholder="server name" [(ngModel)]="serverName" name="serverName" id="serverName" />
<input type="text" placeholder="my name" [(ngModel)]="myName" name="myName" id="myName" />

<br />

index
first
last
even odd
<div *ngFor="let fruit of fruits; index as i; first as f;last as l;even as e;odd as o;">
    <p>{{i}}----{{f}}----{{l}}---{{e}}----{{o}}----{{fruit.fruitName}}----{{fruit.cost}}</p>
</div>


<div>
    <ul *ngFor="let data of fruits" [ngSwitch]="data.fruitName">
        <li *ngSwitchCase="'apple'" class="text-danger">{{data.fruitName}} ({{data.cost}})</li>
        <li *ngSwitchCase="'orange'" class="text-success">{{data.fruitName}} ({{data.cost}})</li>
        <li *ngSwitchCase="'banana'" class="text-primary">{{data.fruitName}} ({{data.cost}})</li>
        <li *ngSwitchCase="'mango'" class="text-info">{{data.fruitName}} ({{data.cost}})</li>

    </ul>
</div>


{{testVariable}}
{{myName}}