<p>home-component works!</p>
<form (ngSubmit)="submitForm(loginForm,loginData)" #loginForm="ngForm">
    <div>
        <label>username<span style="color:red;">*</span></label>
        <input type="text" placeholder="username" name="username" id="username" #username='ngModel'
            [(ngModel)]="loginData.username" required>

        <div *ngIf="((submitted || username.touched) && username.invalid)" style="color:red;">
            This field is required
        </div>

    </div>
    {{username.touched}}{{username.invalid}}
    <br />
    <div>
        <label>password<span style="color:red;">*</span></label>
        <input type="password" placeholder="password" name="password" id="password" [(ngModel)]="loginData.password"
            #password="ngModel" required>

        <div *ngIf="((submitted || password.touched) && password.invalid)" style="color:red;">
            This field is required
        </div>
    </div>
    <br />

    <button type="submit">submit</button>
</form>